.container-principal-instruction {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  height: 85%;
  padding-inline: 5%;
  padding-top: 2%;
}

.container-section-grid-80 {
  height: 85%;
  overflow-y: auto;
}

.container-description {
  font-size: 1rem;
  color: #686868;
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 1%;
}

p {
  line-height: 1vw;
}

/* Container-buttons */

.container-buttons-number-step {
  height: 15%;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.constainer-width-button {
  min-width: 10%;
  width: max-content;
  margin-inline: 1%;
}

.container-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.container-steps {
  margin-top: 1%;
  color: #686868;
  font-weight: 400;
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
  .constainer-width-button {
    width: 15%;
  }
}

@media screen and (max-width: 600px) {
  .constainer-width-button {
    width: 35%;
  }
}
