<main class="container-principal-modal">
  <section class="methos-payment">
    <h1 class="text-title">¿Como quieres pagar?</h1>
    <div class="container-icon-chevron-method">
      <div class="img-methods-payment">
        <img
          src="../../../../assets/icons/icon-mastercars-visa.webp"
          alt=""
          height="100%"
        />
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="container-icon-chevron-method">
      <div class="img-methods-payment">
        <img
          src="../../../../assets/icons/icon-paypal.webp"
          alt=""
          height="100%"
        />
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="container-icon-chevron-method">
      <div class="img-methods-payment">
        <img
          src="../../../../assets/icons/icon-pse.png"
          alt=""
          height="100%"
        />
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="container-test-price-value">
      <div class="container-text-price">Total a pagar</div>
      <div class="container-price">
        <span class="price-real-value">$1000.000</span>
        <span class="price-old-value">$1500.000</span>
      </div>
    </div>
  </section>
  <section class="card-information-course">
    <div class="container-card">
      <div class="container-image-start-play">
        <div class="container-image">
          <img
            src="../../../../assets/barista1.webp"
            alt="courses"
            height="100%"
            width="100%"
            class="fcdt-img"
            style="border-radius: 8px; object-fit: cover"
          />
        </div>

        <div class="container-start">
          <div class="container-start-number">
            <div class="container-image-start">
              <img
                src="../../../../assets/icons/icon_start_white.webp"
                alt=""
                width="50%"
              />
            </div>
            <div class="container-number">5.0</div>
          </div>
        </div>
      </div>
      <div class="container-principal-description-course">
        <div class="container-title-course">Capacitación Fair Trade</div>
        <div class="container-principal-price">
          <span class="price-real-value">$1000.000</span>
          <span class="price-old-value">$1500.000</span>
        </div>

        <div class="container-description-course">
          El cobro va a ser de US$ 14.99, los precios base que manejamos son en
          dólares americanos. El monto que ves en tu moneda local es un
          aproximado que puede variar de acuerdo a tu banco y el tipo de cambio
          del día, está sujeto a impuestos propios de cada país, los cuales
          serán asumidos por los usuarios finales. (1) Acepto expresamente todos
          los Términos y Condiciones de Membresías Premium y Pay As You Go. Del
          mismo, modo acepto las Políticas y Avisos de Protección y Tratamiento
          de Datos Personales de Greentrade: Generales, Colombia.
        </div>
      </div>
    </div>
  </section>
</main>
