<div class="contaner-principal">
  <div class="container-close-modal">
    <section (click)="handleCloseModal()">
      <ion-icon class="icon" name="close-circle-outline"></ion-icon>
    </section>
  </div>

  <app-global-titles [titleName]="'Agregar perfil'"></app-global-titles>

  <app-global-subtitles
    [nameSubTitle]="
      'Crea un perfil como comprador, agricultor o aprendiz utilizando tu cuenta actual de forma rápida y segura. Al tener los tres perfiles, accederás a todas las características y herramientas de nuestra plataforma'
    "
  ></app-global-subtitles>

  <div class="container-principal-cards">
    <div class="container-car" align="center">
      <div
        class="container-image"
        [ngClass]="{ 'container-disable': !isCreatedFarmer }"
      >
        <img
          src="../../../../../assets/farmer.webp"
          alt="Farmer"
          height="100%"
          width="100%"
        />
      </div>
      <p
        class="container-add-profile"
        [ngClass]="{ 'container-disable': !isCreatedFarmer }"
      >
        Caficultor
      </p>
      <!--<div class="container-button">
        <app-global-buttons
          [nameButton]="'Registrarse'"
          *ngIf="!isCreatedFarmer"
          [routerLink]="['./register/farmer']"
          (click)="registerProfile()"
          [height]="'25px'"
        ></app-global-buttons>

        <a href="{{ baseUrl + '/user-farmer' }}">
          <app-global-buttons
            [nameButton]="'Acceder'"
            *ngIf="isCreatedFarmer"
            [height]="'25px'"
          ></app-global-buttons>
        </a>
      </div>-->
    </div>
    <!--
    <div class="container-car" align="center">
      <div
        class="container-image"
        [ngClass]="{ 'container-disable': !isCreatedBusinessman }"
      >
        <img
          src="../../../../../assets/empresario_p.webp"
          alt="Farmer"
          height="100%"
          width="100%"
        />
      </div>
      <p
        class="container-add-profile"
        [ngClass]="{ 'container-disable': !isCreatedBusinessman }"
      >
        Comprador
      </p>-->
      <!--<div class="container-button">
        <app-global-buttons
          [nameButton]="'Registrarse'"
          *ngIf="!isCreatedBusinessman"
          [routerLink]="['./register/businessman']"
          (click)="registerProfile()"
          [height]="'25px'"
        ></app-global-buttons>

        <a href="{{ baseUrl + '/user-businessman' }}">
          <app-global-buttons
            [nameButton]="'Acceder'"
            *ngIf="isCreatedBusinessman"
            (click)="chageProfileFarmer(2)"
            [height]="'25px'"
          ></app-global-buttons>
        </a>
      </div>-->
    </div>

    <div class="container-car" align="center">
      <div
        class="container-image"
        [ngClass]="{ 'container-disable': !isCreatedApprentice }"
      >
        <img
          src="../../../../../assets/apprendice.webp"
          alt="Farmer"
          height="100%"
          width="100%"
        />
      </div>

      <p
        class="container-add-profile"
        [ngClass]="{ 'container-disable': !isCreatedApprentice }"
      >
        Aprendiz
      </p>
      <div class="container-button">
        <app-global-buttons
          [nameButton]="'Registrarse'"
          *ngIf="!isCreatedApprentice"
          [routerLink]="['./register/apprentice']"
          (click)="registerProfile()"
          [height]="'25px'"
        ></app-global-buttons>

        <a href="{{ baseUrl + '/user-apprentice' }}">
          <app-global-buttons
            [nameButton]="'Acceder'"
            *ngIf="isCreatedApprentice"
            (click)="chageProfileFarmer(3)"
            [height]="'25px'"
          ></app-global-buttons>
        </a>
      </div>
    </div>
  </div>
</div>
