<div class="container-form3">
  <form
    [formGroup]="form3"
    autocomplete="on"
    (ngSubmit)="next()"
    class="container-principal-form3"
  >
    <div class="container-inter-form3">
      <div class="container-selects-form3">
        <div class="container-select-form3-inter">
          <div class="container-inter-selects">
            <select class="fcdt-select-p2" formControlName="lot">
              <option style="color: #2f0084" [ngValue]="numberLot">
                <span>Lote </span> {{ numberLot }}
              </option>
            </select>
          </div>

          <div class="container-inter-selects">
            <select
              class="fcdt-select-p2"
              formControlName="tazaProfile"
              [ngClass]="{
                'fcdt-color-span-form-p2':
                  validatorFields('tazaProfile')
              }"
            >
              <option value="">
                <span> Varietales de café </span>
              </option>
              <option
                *ngFor="let item of dataProfileTaza"
                value="{{ item.id_profile }}"
                style="color: #2f0084"
              >
                {{ item.profile_name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="container-selects-form3">
        <div class="container-select-form3-inter">
          <div class="container-inter-selects">
            <select
              class="fcdt-select-p2"
              formControlName="coffeeVariety"
              [ngClass]="{
                'fcdt-color-span-form-p2':
                  validatorFields('coffeeVariety')
              }"
            >
              <option value="">
                <span> Variedad de café </span>
              </option>
              <option
                *ngFor="let item of dataCoffeVariety"
                value="{{ item.id_variety }}"
              >
                {{ item.variety_name }}
              </option>
            </select>
          </div>

          <div class="container-inter-selects">
            <select
              class="fcdt-select-p2"
              formControlName="toston"
              [ngClass]="{
                'fcdt-color-span-form-p2':
                  validatorFields('toston')
              }"
            >
              <option value="">
                <span> Tostión </span>
              </option>
              <option
                *ngFor="let item of dataTostion"
                value="{{ item.id_roast }}"
              >
                {{ item.roasting_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="container-buttons-form3" align="center">
      <button class="btn-form3" (click)="comeBack()" type="button">
        Atrás
      </button>
      <button class="btn-form3" type="submit">Siguiente</button>
    </div>
  </form>
</div>
