.title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 30px;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-radius: 30px;
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.3);
  padding-inline: 5px;
  border-radius: 5px;
}

.icon {
  color: #00de97;
  font-size: 40px;
  
}

.disabled-icon {
  opacity: 0.5;
  pointer-events: none;
}

/* Sectiop list questions, arrows and answers */
.container-list-option-answers {
  display: flex;
  padding-top: 1%;
  width: 100%;
  font-size: 18px;
  height: 40vh;
  
}

.box {
  width: 40%;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  border-radius: 15px 15px 30px 30px;
}


.container-box-inter {
  overflow-y: auto;
  height: 80%;
  margin-block: 3%;
  
  
}

.title-box {
  color: #fff;
  background-color: #2f0084;/*#2f0084*/
  padding: 2px 20px;
  font-weight: 400;
  
}

.input {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #bebebe;
}

.input:active {
  opacity: 0.5;
}

.input-selected {
  background-color: #00de97;
  border: none;
  
}

.container-check-text {
  padding: 8px;
  margin: 7px 7px;  
  background-color: #ffffff; 
  border: 1px solid #2f0084; /*00de97*/ 
  border-radius: 10px;
  cursor: grab;  
  transition: transform 0.2s ease; 
  & span {
    width: 90%;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    color: #2f0084;
  }

}
.container-check-text:hover{
  background-color: #ddd9d9;  
}
  
  .container-check-text.dragging {
    opacity: 0.5;  
    transform: scale(1.05); 
    background-color: #e6ffe6;  
  }

  
  .box[data-drop-area="left"]:hover,
  .box[data-drop-area="right"]:hover {
  background-color: #e6ffe6; 
  }
  



/* Estilos para el contenedor de opciones 
.container-list-option-answers {
  display: flex; /*  flexbox para alinear los contenedores de opciones 
  justify-content: space-between; /* Espacio entre los contenedores 
  margin: 20px;
}

/* Estilo para cada caja 
.box {
  border: 2px solid #2f0084; /* Bordes azul 
  border-radius: 8px;
  padding: 10px;
  width: 45%; /* Ancho de cada caja 
  min-height: 300px; /* Altura mínima 
  background-color: #f9f9f9; /* Fondo claro 
  transition: background-color 0.3s ease; /* Transición suave para cambios de color 
}

/* Estilo para la caja activa cuando se arrastra sobre ella 
.box:hover {
  background-color: #e0e7ff; /* Fondo azul claro cuando se pasa el mouse 
}

/* Estilos para los elementos de texto en las cajas 
.container-check-text {
  padding: 8px;
  margin: 5px 0; /* Espacio entre los elementos 
  background-color: #ffffff; /* Fondo blanco para las cajass 
  border: 1px solid #ccc; /* Bordes gris claro 
  border-radius: 4px;
  cursor: grab; /* Cambiar cursor al pasar sobre un elemento arrastrable 
  transition: transform 0.2s ease; /* Transición para efectos de movimiento 
}

/* Estilo para el elemento arrastrado 
.container-check-text.dragging {
  opacity: 0.5; /* Opacidad del elemento arrastrado 
  transform: scale(1.05); /* Escalar ligeramente el elemento arrastrado 
}

/* Al pasar por encima de un área de soltado 
.box[data-drop-area="left"]:hover,
.box[data-drop-area="right"]:hover {
  background-color: #e6ffe6; /* Fondo verde claro para áreas de soltado 
}

/* Arrows */

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  gap: 50px;
}

ion-icon {
  font-size: 40px;
  color: #2f0084;
}

/* Buttons next back */

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 30%;
  gap: 1vw;
  margin-block: 3%;
}
.clue{
  margin: 30px;
}
