<section class="curso">
  <div
    class="crud-create"
    [routerLink]="[routeLink]"
    routerLinkActive="router-link-active"
  >
    <ion-icon name="add-circle-outline" class="ion-icon-green"></ion-icon>
    <strong>Agregar curso</strong>
  </div>

  <article class="main">
    <div class="card" *ngFor="let course of dataCourses">
      <div class="info">
        <div class="container-image-logo-course">
          <img
            src="{{ course.course_photo }}"
            alt=""
            width="100%"
            height="100%"
            style="object-fit: contain"
          />
        </div>
        <!-- <iframe
          class="video"
          border-radius="5"
          src="https://www.youtube.com/embed/kN1XP-Bef7w?si=JOU1LJE_4lW8PmkI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> -->
        <div class="container-title-buttons-courses">
          <h1 class="title">{{ course.course_title.slice(0, 20) }}</h1>
          <p>{{ course.Modules.length }} Lecciones</p>
        </div>
      </div>
      <div class="button-crud">
        <span (click)="handleClickCourseAction(course.id_course, 2)">Ver</span>
        <span (click)="handleClickCourseAction(course.id_course, 3)"
          >Editar</span
        >
        <span>Eliminar</span>
      </div>
    </div>
  </article>
</section>
