<div class="container-principal">
  <section class="container-title-close">
    <div class="container-text-details">
      <span> Felicitaciones </span>
    </div>
    <div class="icon-close">
      <ion-icon
        name="close-circle-outline"
        class="ion-icon-blue"
        (click)="handleClickCloseModal()"
      ></ion-icon>
    </div>
  </section>

  <div class="container-icon-text">
    <div>
      <ion-icon name="balloon-outline" class="icon"></ion-icon>
    </div>
    <div>
      <p>
        ¡Felicidades! Has completado tu perfil caficultor. Ahora estás listo para
        cargar tus productos.
      </p>
    </div>
  </div>

  <button class="fcdt-btn-p2" (click)="handleClickCloseModal()">
    Ir a Fincas
  </button>
</div>
