<section class="container-section-navbar-question">
  <div class="container-btns">
    <button
      *ngFor="let item of itemsNavBar"
      (click)="handleSelectItem(item.id)"
      class="btn-nav-bar"
      [ngClass]="{
        'border-button-btn btn-selected': item.isSelected
      }"
    >
      <ion-icon
        name="megaphone-outline"
        *ngIf="item.id === 1 && item.isSelected"
        class="icon"
      ></ion-icon>
      {{ item.name }}
    </button>
  </div>
  <div class="line-btns"></div>
</section>
