<app-title [text]="'Datos esenciales'"></app-title>
<div style="overflow-y: auto">
  <div class="container-form1">
    <form [formGroup]="form1Business" (ngSubmit)="next()">
      <div class="container-inter-form-photo">
        <div class="container-exter-inputs">
          <div class="container-row-input-form">
            <div class="container-input-form">
              <div>
                <input
                  type="text"
                  formControlName="allName"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="10"
                  maxlength="90"
                  required
                  placeholder="Ej: Pepe Gomez Muñoz"
                  pattern="^[a-zA-ZáéíóúñÑÁÉÍÓÚüÜ\s]+$"
                  [matTooltip]="
                    validatorFields('allName')
                      ? 'Usar únicamente letras con un mínimo 10 y máximo de 90 caracteres'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('allName')
                  }"
                >
                  Nombre completo
                </span>
              </div>
            </div>
            <div class="container-input-form">
              <div>
                <input
                  type="tel"
                  formControlName="phone"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="6"
                  maxlength="10"
                  required
                  pattern="[0-9]*"
                  [matTooltip]="
                    validatorFields('phone')
                      ? 'Usar únicamente números con una longitud mínima de 6 y máxima de 10 dígitos'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('phone')
                  }"
                >
                  Teléfono
                </span>
              </div>
            </div>

            <div class="container-input-form">
              <div>
                <input
                  type="email"
                  formControlName="mail"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  maxlength="50"
                  required
                  placeholder="Ej: sorvo@mail.com"
                  [matTooltip]="
                    validatorFields('mail')
                      ? 'Digite un correo electrónico válido'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('mail')
                  }"
                >
                  Correo electrónico</span
                >
              </div>
            </div>
          </div>

          <div class="container-row-input-form">
            <div class="container-input-form">
              <div>
                <input
                  type="text"
                  formControlName="userName"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="6"
                  maxlength="90"
                  required
                  pattern="^(?=.*[a-zñÑ])[A-Za-zñÑ0-9]{6,90}$"
                  [matTooltip]="
                    validatorFields('userName')
                      ? 'El nombre de usuario no debe tener espacios, tíldes o símbolos. Además, debe contener entre 6 y 90 caracteres'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  placeholder="Ej: pepemunoz"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('userName')
                  }"
                  >Nombre de usuario</span
                >
              </div>
            </div>

            <div class="container-input-form">
              <div>
                <input
                  type="tel"
                  formControlName="identification"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="6"
                  maxlength="10"
                  pattern="[0-9]*"
                  required
                  [matTooltip]="
                    validatorFields('identification')
                      ? 'Usar únicamente números con una longitud mínima de 6 y máxima de 10 dígitos'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('identification')
                  }"
                >
                  Número de identificación
                </span>
              </div>
            </div>

            <div class="container-input-form">
              <div>
                <input
                  type="tel"
                  formControlName="postalCode"
                  class="fcdt-input-p2"
                  minlength="6"
                  maxlength="8"
                  pattern="[0-9]*"
                  required
                  [matTooltip]="
                    validatorFields('postalCode')
                      ? 'Usar únicamente números con una longitud mínima de 6 y máxima de 10 dígitos'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('postalCode')
                  }"
                >
                  Código postal
                </span>
              </div>
            </div>
          </div>

          <div class="container-row-input-form">
            <div class="container-input-form">
              <select
                class="fcdt-select-p2"
                formControlName="country"
                required
                [matTooltip]="
                  validatorFields('country') ? 'Seleccione una opción' : ''
                "
                [matTooltipClass]="'myTooltip'"
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('country')
                }"
              >
                <option value="" disabled selected hidden>
                  <span> País </span>
                </option>
                <option
                  *ngFor="let country of countries"
                  value="{{ country.id_country }}"
                >
                  {{ country.country_name_es }}
                </option>
              </select>
            </div>

            <div class="container-input-form">
              <select
                class="fcdt-select-p2"
                formControlName="state"
                required
                [matTooltip]="
                  validatorFields('state') ? 'Seleccione una opción' : ''
                "
                [matTooltipClass]="'myTooltip'"
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('state')
                }"
              >
                <option value="" disabled selected hidden>
                  <span> Estado </span>
                </option>
                <option
                  *ngFor="let state of states"
                  value="{{ state.id_state }}"
                >
                  {{ state.state_name }}
                </option>
              </select>
            </div>

            <div class="container-input-form"></div>
          </div>

          <section [hidden]="dataUser">
            <div class="container-row-input-form" style="margin-top: 4%">
              <div class="container-input-form">
                <div
                  [ngClass]="{
                    'fcdt-input-error-password-all-boder':
                      validatorFields('password'),
                    'fcdt-input-password-all-boder':
                      !validatorFields('password')
                  }"
                >
                  <input
                    [type]="isShowPassword() ? 'text' : 'password'"
                    formControlName="password"
                    class="input-password"
                    placeholder="Contraseña"
                    matTooltip="La contraseña debe tener entre 8 y 16 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y al menos un caracter especial (@+.*-_/%#$,)."
                    matTooltipPosition="above"
                    [matTooltipClass]="'myTooltip'"
                    style="border: none"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@+.*\-_/%#$,])[A-Za-z\d@+.*\-_/%#$,]{8,16}$"
                  />
                  <ion-icon
                    *ngIf="!isShowPassword()"
                    name="eye-outline"
                    (click)="showPassword(1)"
                  ></ion-icon>

                  <ion-icon
                    *ngIf="isShowPassword()"
                    name="eye-off-outline"
                    (click)="showPassword(1)"
                  ></ion-icon>
                </div>
              </div>
              <div class="container-input-form">
                <div class="fcdt-input-password-all-boder">
                  <input
                    [type]="isShowRepeatPassword ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    class="input-password"
                    placeholder="Confirmar contraseña"
                    maxlength="18"
                    [ngClass]="{
                      'fcdt-field-error-form-all-border-p2':
                        validatorFields('confirmPassword')
                    }"
                    style="border: none"
                  />
                  <ion-icon
                    *ngIf="!isShowRepeatPassword"
                    name="eye-outline"
                    (click)="showPassword(2)"
                  ></ion-icon>

                  <ion-icon
                    *ngIf="isShowRepeatPassword"
                    name="eye-off-outline"
                    (click)="showPassword(2)"
                  ></ion-icon>
                </div>
              </div>

              <div class="container-input-form" align="center">
                <div class="container-form-image" align="center">
                  <div class="container-inter-load-image">
                    <input
                      type="file"
                      accept="image/jpeg,image/png"
                      class="input-load-cedula"
                      (change)="onChangeLoadImage($event)"
                    />
                    <div class="container-image-load-inter" *ngIf="image">
                      <img
                        [src]="image"
                        alt=""
                        width="100%"
                        height="100%"
                        style="object-fit: cover"
                      />
                    </div>
                    <div class="container-image-tex-inter" *ngIf="!image">
                      <div class="container-icon-image">
                        <img
                          src="../../../assets/icons/icon_user.webp"
                          alt="Icon user"
                          width="100%"
                        />
                      </div>
                      <div class="container-text-image">
                        Agrega tu foto, el tamaño recomendado es 256 x 256px
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-recapcha-passwords">
              <re-captcha
                class="recaptcha_only_if_image"
                (resolved)="resolved()"
                (errored)="onError()"
                errorMode="default"
                siteKey="{{ apikey }}"
              ></re-captcha>
            </div>
          </section>
        </div>
      </div>

      <div
        class="container-buttons-form1"
        align="center"
        [ngStyle]="{ 'margin-top': !dataUser ? '7vh' : '30vh' }"
      >
        <button class="btn-form1" (click)="comeBack()">Atrás</button>
        <button class="btn-form1" type="submit">Siguiente</button>
      </div>
    </form>
  </div>
</div>
