<div class="container-modal-notification" (click)="closeModal()">
  <div class="container-text">
    Comenzamos el proceso comercial, verifica el estado en
    <div class="container-icon-historial-ventas">
      <div class="container-icon">
        <img
          src="../../../../../../assets/icons/icon_history_sales.webp"
          alt="Icon"
          height="100%"
          width="100%"
        />
      </div>
      <div class="container-historial-ventas">historial de ventas</div>
    </div>
  </div>
</div>
