.container-body {
  max-height: 62vh;
  width: 98.5%;
  margin-left: 1vw;
  margin-top: 1.5vw;
  overflow-y: scroll;
}

.container-details {
  padding-block: 2vw;
  width: 75%;
  height: 98%;
  border: 1px solid #bebebe;
  border-radius: 8px;
  margin-bottom: 1vw;
}

.container-text-details {
  height: 2vw;
  padding-top: 1.3px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  padding-inline: 2vw;
  background-color: #00de97;
}

.container-photo-description {
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
  margin-left: 1vw;
}

.container-photo {
  margin-top: 1vw;
  width: 7vw;
  height: 7vw;
}

.container-description {
  width: 70%;
  margin-left: 1vw;
}

.container-text-title-name {
  margin-top: 1vw;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #2f0084;
}

.container-text-subtitle-name {
  margin-top: -0.5vw;
  margin-left: 0vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #686868;
}

.container-rows-details {
  width: 100%;
  display: flex;
  margin-top: 1vw;
}

.input-text-details {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  color: #2f0084;
  border-bottom: 1px solid #bebebe;
}

.container-sub-input {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #686868;
}

.container-buttons {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 1.5vw;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-right: 0.5vw;
  height: 1.5rem;
  background: #00de97;
  border-radius: 4.40088px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  color: #2f0084;
}

.btn:active {
  background-color: rgba(0, 222, 151, 0.5);
}

.container-modal-confirmation {
  position: absolute;
  height: 200px;
  width: 200px;
}

.container-text-no-notification {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  color: #2f0084;
  padding: 3%;
}
