.container-send-services {
  width: 101%;
  padding-top: 5%;
  padding-left: 10%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #a1a1a1;
}

.container-average-send {
  width: 100%;
  height: 60vh;
}

.container-principal-body{
  display: grid;
  align-content: center;
  height: 90%;
  width: 80%;
}

.container-inter-average-send {
  display: flex;
  align-items: center;
  padding-inline: 2vw;
  width: 100%;
  height: 10vh;
  background: #ffffff;
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  margin-bottom: 1.2vw;
  cursor: pointer;
}

.container-circle-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
  border: 1px solid #a1a1a1;
}

.container-inter-circle-select {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 100%;
}

.container-description {
  margin-left: 4%;
  width: 50%;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.container-button {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 10%;
  margin-left: -2%;
  margin-top: 3%;
}

.container-inter-buton {
  width: 30%;
  margin-inline: 2%;
}
