<div class="container-principal-modal">
  <div class="container-title">Selección de producto</div>
  <div class="container-subtitle">
    A continuación selecciona el producto que deseas ofertar
  </div>

  <div class="container-products">
    <div class="container-card" *ngFor="let lot of dataLots">
      <div class="container-title-lot">
        Lote <span>{{ lot.id_lot }}</span>
      </div>
      <div class="container-image-lote">
        <img
          *ngIf="!lot.lot_photo"
          src="../../../../../../assets/lote2.webp"
          alt="Lote"
          height="100%"
          width="100%"
          class="image-style"
          style="object-fit: cover"
        />
        <img
          *ngIf="lot.lot_photo"
          src="{{ lot.lot_photo }}"
          alt="Lote"
          height="100%"
          width="100%"
          class="image-style"
          style="object-fit: cover"
        />
      </div>
      <div class="shoping-card">
        <div class="container-icons-shoping-cart">
          <div style="width: 42%; margin-right: -5%">
            <app-global-buttons
              [nameButton]="'Ofertar'"
              [color]="'#fff'"
              (click)="sendOfert(lot.id_lot)"
            ></app-global-buttons>
          </div>
          <img
            src="../../../../../../assets/icons/icon-money.webp"
            alt="Shoping cart"
            height="100%"
            class="container-image-card-shop"
          />
        </div>
      </div>
      <div class="container-prices">
        <strong style="font-size: 1.5rem"
          >$<span *ngIf="lot.lot_price">{{ lot.lot_price }}</span></strong
        >

        <span class="text-price-old-price">$2100</span>
      </div>

      <div class="container-start-number-name">
        <div class="container-start-number">
          <!-- <div class="container-start">
            <img
              src="../../../../../../assets/icons/icon_start_white.webp"
              alt=""
              width="100%"
            />
          </div>
          <div class="container-number">4.8</div> -->
        </div>
        <div class="container-name-profile-taza">
          <div class="container-name-taza" title=" {{ lot.cup_profile_name }}">
            {{ lot.cup_profile_name.slice(0, 13) }}
          </div>
          <div class="container-sub-title-taza">Perfil de taza</div>
        </div>
      </div>
    </div>
  </div>
</div>
