<div class="container-form2">
  <div class="container-text-historia">
    Queremos que nos cuentes por medio de un texto, acerca de tu proceso como
    caficultor, ¿de dónde vienes, hace cuánto cultivas y cosechas café?
  </div>

  <form [formGroup]="form2">
    <div class="container-input-text">
      <textarea
        formControlName="histoyText"
        placeholder="Escribe aqui tu texto (máximo 500 caracteres)"
        required
        rows="2"
        cols="50"
        minlength="20"
        maxlength="500"
        [matTooltip]="
          validatorFields('histoyText')
            ? 'Completa este campo con mínimo 20 caracteres y máximo de 500'
            : ''
        "
        [matTooltipClass]="'myTooltip'"
        class="fcdt-text-area-p2"
        [ngClass]="{
          'fcdt-text-area-p2-error': validatorFields('histoyText')
        }"
      ></textarea>
    </div>

    <div class="container-buttons-form2" align="center">
      <!-- <button class="btn-form2" (click)="comeBack()">Atrás</button> -->
      <button class="btn-form2" (click)="next()">Siguiente</button>
    </div>
  </form>
</div>
