<div class="container-perfiles" align="center">
  <div class="container-nuestros-perfiles" style="margin-top: 5vh">
    Nuestros perfil
  </div>
  <div class="container-cards-perfiles">
    <!--<div class="card-perfil">
      <div class="container-image-profile">
        <img
          src="../../../assets/empresario.webp"
          alt="Comprador"
          height="100%"
          width="100%"
          style="border-radius: 10px"
        />
      </div>
      <div class="text-profiles">
        <div>
          <h4><strong>Comprador</strong></h4>
        </div>
        <div>
          En Sorvo, creemos en transformar sueños en éxitos. Con nuestra
          asesoría personalizada, convierte tu visión empresarial en una
          realidad sólida. ¡Únete a nosotros y haz despegar tu negocio hacia el
          éxito!
        </div>
      </div>
    </div>-->
    <!--<div class="card-perfil-1">
      <div class="container-image-profile-1">
        <img
          src="../../../assets/caficultor8.webp"
          alt="Comprador"
          height="100%"
          width="100%"
        />
      </div>
      <div class="text-profiles-1">
        <div>
          <h4><strong>Caficultor</strong></h4>
        </div>
        <div>
          En Sorvo, fusionamos la tradición cafetera con la innovación.
          Comprometidos con la calidad y la modernización, te brindamos una
          experiencia que supera expectativas. Abre las puertas al éxito global
          para tu café. Descubre cómo Sorvo te impulsa en el mercado
          internacional.
        </div>
      </div>
    </div>-->
    <div class="card-perfil">
      <div class="container-image-profile">
        <img
          src="../../../assets/aprendiz.webp"
          alt="Comprador"
          height="100%"
          width="100%"
        />
      </div>
      <div class="text-profiles">
        <div>
          <h4><strong>Aprendiz</strong></h4>
        </div>
        <div>
          Sorvo te eleva a nuevas alturas en el universo del café especial.
          Descubre los secretos de la producción, la influencia económica y
          mucho más con nuestro programa educativo. ¡Explora nuestros cursos y
          sumérgete en el fascinante mundo del café!
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-perfiles" align="center">
  <div class="container-nuestros-perfiles" style="margin-top: 5vh">
    Nuestros perfil
  </div>
  <div class="container-cards-perfiles">
    <!--<div class="card-perfil">
      <div class="container-image-profile">
        <img
          src="../../../assets/empresario.webp"
          alt="Comprador"
          height="100%"
          width="100%"
          style="border-radius: 10px"
        />
      </div>
      <div class="text-profiles">
        <div>
          <h4><strong>Comprador</strong></h4>
        </div>
        <div>
          En Sorvo, creemos en transformar sueños en éxitos. Con nuestra
          asesoría personalizada, convierte tu visión empresarial en una
          realidad sólida. ¡Únete a nosotros y haz despegar tu negocio hacia el
          éxito!
        </div>
      </div>
    </div>-->
    <!--<div class="card-perfil-1">
      <div class="container-image-profile-1">
        <img
          src="../../../assets/caficultor8.webp"
          alt="Comprador"
          height="100%"
          width="100%"
        />
      </div>
      <div class="text-profiles-1">
        <div>
          <h4><strong>Caficultor</strong></h4>
        </div>
        <div>
          En Sorvo, fusionamos la tradición cafetera con la innovación.
          Comprometidos con la calidad y la modernización, te brindamos una
          experiencia que supera expectativas. Abre las puertas al éxito global
          para tu café. Descubre cómo Sorvo te impulsa en el mercado
          internacional.
        </div>
      </div>
    </div>-->
    <div class="card-perfil">
      <div class="container-image-profile">
        <img
          src="../../../assets/aprendiz.webp"
          alt="Comprador"
          height="100%"
          width="100%"
        />
      </div>
      <div class="text-profiles">
        <div>
          <h4><strong>Aprendiz</strong></h4>
        </div>
        <div>
          Sorvo te eleva a nuevas alturas en el universo del café especial.
          Descubre los secretos de la producción, la influencia económica y
          mucho más con nuestro programa educativo. ¡Explora nuestros cursos y
          sumérgete en el fascinante mundo del café!
        </div>
      </div>
    </div>
  </div>
</div>
