<div class="container-como-preparo">
  <div class="container-text-como-preparo">Acerca de nuestros cursos</div>
  <div class="container-subtitle-como-preparo">
    <div>
      Descubre estrategias, consejos y habilidades clave para dominar nuevas competencias en nuestra plataforma de aprendizaje. Sorprende a tus amigos y colegas con tus conocimientos excepcionales y mejora constantemente tu desarrollo personal y profesional.
    </div>

    <div class="container-start-today">Inicia hoy</div>
  </div>

  <div class="container-principal-cards">
    <div class="container-card-videos" *ngFor="let item of urlVideosHome">
      <iframe
        width="100%"
        height="100%"
        [src]="item | safe"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
