<main class="container-principal">
  <section class="container-finish">
    ¡Gracias por participar y contribuir a crear un ambiente de aprendizaje más
    personalizado y efectivo!
  </section>

  <section class="container-principal-buttons" align="center">
    <section class="container-button">
      <div class="constainer-width-button" (click)="handleFinish()">
        <app-global-buttons
          [nameButton]="'Finalizar'"
          [height]="'1.7rem'"
        ></app-global-buttons>
      </div>
    </section>
    <section class="container-steps">12 de 12</section>
  </section>
</main>
