<div class="container-footer">
  <div>
    <img src="../../../assets/calendar-dates-home.svg" width="80%" alt="" />
  </div>
  <section class="container-description-dates-home">
    <div>
      El calendario de Sorvo, tu guía para no perderte ninguna fecha importante.
      Desde eventos exclusivos hasta las celebraciones más destacadas, mantente
      al tanto y disfruta de cada sorbo con nosotros.
    </div>
    <a class="text-link-green" href="{{ docDates }}" target="_blank"
      >Conoce las fechas aquí</a
    >
  </section>
</div>
