<div class="container-footer">
  <img src="../../../assets/calendar-dates-home.svg" width="25%" alt="" />

  <div class="container-special-date">
    <p>02</p>
    <p class="p-border">Octubre</p>
    <p class="p-description">Nacional Colombiano de Baristas</p>
  </div>
  <section class="container-description-dates-home">
    <div>
      El calendario de Sorvo, tu guía para no perderte ninguna fecha importante.
      Desde eventos exclusivos hasta las celebraciones más destacadas, mantente
      al tanto y disfruta de cada sorbo con nosotros.
    </div>
    <a class="text-link-green" href="{{ docDates }}" target="_blank"
      >Conoce las fechas aquí</a
    >
  </section>
</div>
