<div class="container-principal">
  <div class="container">
    <h1 class="tittle">Fair Trade</h1>

    <div class="container-left">
      <form [formGroup]="form">
        <input
          type="text"
          formControlName="title"
          minlength="5"
          maxlength="250"
          required
          pattern="^(?!.*(\d)\1{5,})[a-zA-Z0-9áéíóúÁÉÍÓÚüÜ.:%!¡¿'?ñÑ,\s]*$"
          [matTooltip]="
            validatorFields('title')
              ? 'Usar letras, puntos, comas o números, con un mínimo de 5 y máximo de 250 caracteres. Los caracteres especiales no están permitidos.'
              : ''
          "
          [matTooltipClass]="'myTooltip'"
        />
        <label>
          <span
            [ngClass]="{
              'fcdt-color-span-form-p2': validatorFields('title')
            }"
          >
            Titulo
          </span>
        </label>
        <br />
        <textarea
          formControlName="description"
          placeholder="Descripción"
          required
          [ngClass]="{
            'container-border-red': validatorFields('description')
          }"
          minlength="20"
          maxlength="500"
          pattern="^(?!.*(\d)\1{5,})[a-zA-Z0-9áéíóúÁÉÍÓÚüÜ.%!¡¿'?ñÑ,\s]*$"
          [matTooltip]="
            validatorFields('description')
              ? 'Usar letras, puntos, comas o números, con un mínimo de 20 y máximo de 500 caracteres. Los caracteres especiales no están permitidos.'
              : ''
          "
          [matTooltipClass]="'myTooltip'"
        ></textarea>

        <input
          type="text"
          formControlName="urlVideo"
          minlength="10"
          maxlength="100"
          required
          [matTooltip]="
            validatorFields('urlVideo')
              ? 'Completa este campo con mínimo 10 caracteres y máximo de 100'
              : ''
          "
          [matTooltipClass]="'myTooltip'"
        />
        <label>
          <span
            [ngClass]="{
              'fcdt-color-span-form-p2': validatorFields('urlVideo')
            }"
          >
            Agregar link de video
          </span>
        </label>
      </form>
    </div>
    <div class="container-right">
      <div class="add-doc">
        <div class="icon-add-document-text" align="center">
          <div class="container-icon">
            <input
              type="file"
              accept="application/pdf"
              class="input-load-image"
              (change)="onChangeLoadDocument($event)"
            />
            <ion-icon name="add-circle-outline" class="ion-icon-green">
            </ion-icon>
          </div>
          <div>
            <strong style="text-align: center"
              >Adjuntar documentos del curso</strong
            >
          </div>
        </div>

        <a
          *ngIf="dataSubModule?.submodule_resources && !document"
          href="{{ dataSubModule?.submodule_resources }}"
          target="_blank"
        >
          <img
            src="../../../../../../assets/icons/icon_pdf.webp"
            alt=""
            height="70%"
          />
        </a>

        <img
          *ngIf="!dataSubModule?.submodule_resources && document"
          src="../../../../../../assets/icons/icon_pdf.webp"
          alt=""
          height="70%"
        />

        <img
          *ngIf="dataSubModule?.submodule_resources && document"
          src="../../../../../../assets/icons/icon_pdf.webp"
          alt=""
          height="70%"
        />
      </div>
    </div>
  </div>

  <div class="container-buttons">
    <button
      class="fcdt-btn-white-p2"
      [routerLink]="['../../../add-submodules', idModule]"
    >
      Atrás
    </button>
    <button class="fcdt-btn-p2" (click)="handleSubmit()">Siguiente</button>
  </div>
</div>
