<app-title text="Datos esenciales"></app-title>
<div style="overflow-y: scroll">
  <div class="container-form1">
    <form [formGroup]="form1A" (ngSubmit)="next()">
      <div class="container-inter-form-photo">
        <div class="container-exter-inputs">
          <div class="container-row-input-form">
            <div class="container-input-form">
              <div class="container-allName-input">
                <input
                  type="text"
                  formControlName="allName"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="6"
                  maxlength="50"
                  placeholder="Ej: Pepe Gomez Muñoz"
                  required
                  pattern="^[a-zA-ZáéíóúñÁÉÍÓÚ\s]{6,50}$"
                  [matTooltip]="
                    validatorFields('allName')
                      ? 'Usar únicamente letras con un mínimo 6 y máximo de 50 caracteres'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('allName')
                  }"
                >
                  Nombre completo
                </span>
              </div>
            </div>

            <div class="container-input-form">
              <div class="container-userName-input">
                <input
                  type="text"
                  formControlName="userName"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="6"
                  maxlength="50"
                  required
                  placeholder="Ej: pepemunoz"
                  pattern="^(?=.*[a-z])[A-Za-z0-9]{6,50}$"
                  [matTooltip]="
                    validatorFields('userName')
                      ? 'El nombre de usuario no debe contener espacios, tildes ni símbolos especiales. Debe tener entre 6 y 50 caracteres alfanuméricos, incluyendo mayúsculas y minúsculas.'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('userName')
                  }"
                >
                  Nombre de usuario
                </span>
              </div>
            </div>
          </div>

          <div class="container-row-input-form">
            <div class="container-input-form">
              <div>
                <input
                  type="email"
                  formControlName="mail"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  maxlength="50"
                  minlength="6"
                  required
                  placeholder="Ej: sorvo@mail.com"
                  pattern="^[^\s@]+@[^\s@]+\.[a-zA-Z]{2,}$"
                  [matTooltip]="
                    validatorFields('mail')
                      ? 'Digite una dirección de correo válida. Ej: email@ejemplo.com'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('mail')
                  }"
                >
                  Correo electrónico</span
                >
              </div>
            </div>

            <div class="container-input-form">
              <select
                class="fcdt-select-p2"
                formControlName="typeIdentification"
                required
                [ngClass]="{
                  'fcdt-color-span-form-p2':
                    validatorFields('typeIdentification'),
                }"
                [matTooltip]="
                  validatorFields('typeIdentification')
                    ? 'Seleccione una opción'
                    : ''
                "
                [matTooltipClass]="'myTooltip'"
              >
                <option value="" disabled selected hidden>
                  <span> Tipo de identificación </span>
                </option>
                <option
                  *ngFor="let identificaction of typeIdentificaction"
                  value="{{ identificaction.id }}"
                >
                  {{ identificaction.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="container-row-input-form">
            <div class="container-input-form">
              <div>
                <input
                  type="tel"
                  formControlName="phone"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="8"
                  maxlength="15"
                  required
                  pattern="[0-9]*"
                  [matTooltip]="
                    validatorFields('phone')
                      ? 'Usar únicamente números con una longitud mínima de 8 y máxima de 15 dígitos'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('phone')
                  }"
                >
                  Teléfono</span
                >
              </div>
            </div>

            <div class="container-input-form">
              <div>
                <input
                  type="text"
                  formControlName="identification"
                  class="fcdt-input-p2"
                  [ngClass]="{ 'input-disable': dataUser }"
                  minlength="8"
                  maxlength="11"
                  pattern="[0-9]*"
                  required
                  [matTooltip]="
                    validatorFields('identification')
                      ? 'Usar únicamente números con una longitud mínima de 8 y máxima de 11 dígitos'
                      : ''
                  "
                  [matTooltipClass]="'myTooltip'"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <div class="container-placeholder">
                <span
                  [ngClass]="{
                    'fcdt-color-span-form-p2': validatorFields('identification')
                  }"
                >
                  Número de identificación
                </span>
              </div>
            </div>
          </div>

          <div class="container-row-input-form">
            <div class="container-input-form">
              <select
                class="fcdt-select-p2"
                formControlName="genre"
                required
                [matTooltip]="
                  validatorFields('genre') ? 'Seleccione una opción' : ''
                "
                [matTooltipClass]="'myTooltip'"
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('genre')
                }"
              >
                <option value="" disabled selected hidden>
                  <span>Género</span>
                </option>
                <option *ngFor="let item of genre" value="{{ item.id }}">
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div class="container-input-form"></div>
          </div>
        </div>

        <div class="container-form-image" align="center">
          <div class="container-inter-load-image" [hidden]="dataUser">
            <input
              type="file"
              accept="image/jpeg,image/png"
              class="input-load-cedula"
              (change)="onChangeLoadImage($event)"
            />
            <div class="container-image-load-inter" *ngIf="image">
              <img
                [src]="image"
                alt=""
                width="100%"
                height="100%"
                style="object-fit: cover"
              />
            </div>
            <div class="container-image-tex-inter" *ngIf="!image">
              <div class="container-icon-image">
                <img
                  src="../../../assets/icons/icon_user.webp"
                  alt="Icon user"
                  width="100%"
                />
              </div>
              <div class="container-text-image">
                Agrega tu foto, el tamaño recomendado es 256 x 256px
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-row-input-form-password" [hidden]="dataUser">
        <div class="container-input-form-passwords">
          <div
            [ngClass]="{
              'fcdt-input-error-password-all-boder':
                validatorFields('password'),
              'fcdt-input-password-all-boder': !validatorFields('password')
            }"
          >
            <input
              [type]="isShowPassword ? 'text' : 'password'"
              formControlName="password"
              class="fcdt-input-box-p2"
              placeholder="Contraseña"
              matTooltipPosition="above"
              [required]="dataUser ? false : true"
              matTooltip="La contraseña debe tener entre 8 y 18 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y al menos un caracter especial (@+.*-_/%#$,)."
              [matTooltipClass]="'myTooltip'"
              minlength="8"
              maxlength="18"
              autocomplete="off"
              style="border: none"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@+.*\-_/%#$,])[A-Za-z\d@+.*\-_/%#$,]{8,16}$"
            />
            <ion-icon
              *ngIf="!isShowPassword"
              name="eye-outline"
              (click)="showPassword(1)"
            ></ion-icon>

            <ion-icon
              *ngIf="isShowPassword"
              name="eye-off-outline"
              (click)="showPassword(1)"
            ></ion-icon>
          </div>
        </div>
        <div class="container-input-form-passwords">
          <div
            [ngClass]="{
              'fcdt-input-error-password-all-boder':
                validatorFields('confirmPassword'),
              'fcdt-input-password-all-boder':
                !validatorFields('confirmPassword')
            }"
          >
            <input
              [type]="isShowRepeatPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="fcdt-input-box-p2"
              placeholder="Confirmar contraseña"
              [required]="dataUser ? false : true"
              matTooltip="La contraseña debe tener entre 8 y 18 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y al menos un caracter especial (@+.*-_/%#$,)."
              [matTooltipClass]="'myTooltip'"
              minlength="8"
              maxlength="18"
              autocomplete="off"
              style="border: none"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@+.*\-_/%#$,])[A-Za-z\d@+.*\-_/%#$,]{8,16}$"
            />
            <ion-icon
              *ngIf="!isShowRepeatPassword"
              name="eye-outline"
              (click)="showPassword(2)"
            ></ion-icon>

            <ion-icon
              *ngIf="isShowRepeatPassword"
              name="eye-off-outline"
              (click)="showPassword(2)"
            ></ion-icon>
          </div>
        </div>

        <div class="container-input-form-passwords">
          <div class="fcdt-container-recapcha-passwords">
            <re-captcha
              class="recaptcha_only_if_image"
              (resolved)="resolved()"
              (errored)="onError()"
              errorMode="default"
              siteKey="{{ apikey }}"
            ></re-captcha>
          </div>
        </div>
      </div>

      <div
        class="container-buttons-form1"
        align="center"
        [ngClass]="{ 'container-button-without-password': dataUser }"
      >
        <button class="btn-form1" (click)="comeBack()">Atrás</button>
        <button class="btn-form1" type="submit">Siguiente</button>
      </div>
    </form>
  </div>
</div>
