<div
  class="container-principal-change-password"
  [ngStyle]="{ height: isEmailSent ? '10vw' : '23vw' }"
>
  <div *ngIf="!isEmailSent">
    <app-global-titles titleName="Cambiar contraseña"></app-global-titles>
    <br />
    <app-global-subtitles
      [nameSubTitle]="
        ' Por favor, ingrese el correo electrónico registrado para recuperar la contraseña'
      "
    ></app-global-subtitles>

    <form
      autocomplete="off"
      [formGroup]="formChangePassword"
      (ngSubmit)="enviar()"
    >
      <div class="container-input-placeholder">
        <div class="container-input">
          <input
            type="text"
            formControlName="email"
            class="fcdt-input-p2"
            [matTooltip]="
              validatorFields('email')
                ? 'Digite un correo electrónico válido'
                : ''
            "
            [matTooltipClass]="'myTooltip'"
          />
        </div>
        <div class="text-placeholder">
          <app-errors-forms
            *ngIf="isErrorSendMail"
            message="Correo electrónico no existe"
          ></app-errors-forms>
          <span
            [ngClass]="{
              'fcdt-color-span-form-p2': validatorFields('email')
            }"
            >Correo electrónico</span
          >
        </div>
      </div>

      <div class="container-buttons-change" type="submit">
        <app-global-buttons
          [nameButton]="'Enviar'"
          width="100%"
        ></app-global-buttons>
      </div>
    </form>
  </div>

  <div *ngIf="isEmailSent" class="container-email-sent">
    <span>Se ha enviado un correo de verificación a </span>
    <strong> {{ this.formChangePassword.get("email")?.value }}</strong>
  </div>
</div>
