.container-principal-change-password {
  position: relative;
  width: 100%;
  padding-left: 1%;
  height: 57vh;
}

.container-principal-change-password-rol2 {
  position: relative;
  width: 101%;
  height: 86vh;
}

.container-image-fondo {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container-password {
  position: absolute;
  margin-left: 5%;
  padding-top: 4%;
  width: 75%;
  height: 90%;
}

.container-password-send-email {
  position: absolute;
  margin-left: 5%;
  padding-top: 4%;
  width: 75%;
  height: 90%;
  font-family: Lato;
  font-weight: 400;
  color: #2f0084;
}

.container-input-placeholder {
  margin-bottom: 2vw;
}

.container-input {
  width: 40%;
  border-bottom: 1px solid #bebebe;
}

.text-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #2f0084;
}

.text-placeholder {
  margin-top: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: #686868;
  text-align: justify;
}

.container-buttons-change {
  width: 20%;
  margin-top: 1.5vw;
}
