<div
  class="container-principal-change-password"
  [ngClass]="{
    'container-principal-change-password': rol === 1,
    'container-principal-change-password-rol2': rol === 2
  }"
>
  <div class="container-image-fondo">
    <img
      src="../../../../assets/fondo_change_password.webp"
      alt="fondo"
      height="100%"
      width="100%"
      style="object-fit: cover"
    />
  </div>

  <div *ngIf="isSendEmail" class="container-password-send-email">
    Se ha enviado un correo de verificación a:
    <strong>{{ this.formChangePassword.get("email")?.value }}</strong>
  </div>

  <div *ngIf="!isSendEmail" class="container-password">
    <div>
      <app-global-titles [titleName]="'Cambiar contraseña'"></app-global-titles>
    </div>
    <div style="margin-block: 2vw; width: 50%">
      <app-global-subtitles
        [nameSubTitle]="
          ' Por favor, ingrese el correo electrónico registrado para recuperar la contraseña'
        "
      ></app-global-subtitles>
    </div>
    <form
      autocomplete="off"
      [formGroup]="formChangePassword"
      (ngSubmit)="enviar()"
    >
      <div class="container-input-placeholder">
        <div class="container-input">
          <input
            type="text"
            formControlName="email"
            class="text-input"
            (ngModelChange)="changeEmail()"
          />
        </div>
        <div style="width: 50%">
          <p class="text-placeholder">Correo electrónico</p>
        </div>

        <div *ngIf="isValidation" style="width: 30%">
          <app-errors-forms [message]="'Correo incorrecto!'"></app-errors-forms>
        </div>
      </div>

      <div class="container-buttons-change" type="submit">
        <app-global-buttons [nameButton]="'Enviar'"></app-global-buttons>
      </div>
    </form>
  </div>
</div>
