<div
  class="container-principal-change-password"
  [ngClass]="{
    'container-principal-change-password': rol === 1,
    'container-principal-change-password-rol2': rol === 2,
    'container-principal-change-password-rol3': rol === 3,
  }"
>
  <div *ngIf="message.length === 0" class="container-password">
    <div style="width: 100%">
      <div class="container-title">Cambiar contraseña</div>
      <div class="container-subtitle">
        La contraseña debe tener entre 8 y 16 caracteres, debe contener
        minúscula(s), mayúscula(s), número(s) y al menos un caracter especial
        (.@#%&)
      </div>
      <form
        autocomplete="off"
        [formGroup]="formUpdatePassword"
        class="container-form"
      >
        <div class="container-row-inputs">
          <div class="container-input-placeholder" style="margin-bottom: 5%">
            <div class="container-input">
              <input
                type="password"
                formControlName="oldPassword"
                class="fcdt-input-p2"
                required
              />
            </div>
            <div class="text-placeholder">
              <span
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('oldPassword')
                }"
                >Contraseña antigua</span
              >
            </div>
          </div>

          <div
            class="container-input-placeholder"
            style="margin-left: 5%"
          ></div>
        </div>
        <div class="container-row-inputs">
          <div class="container-input-placeholder">
            <div class="container-input">
              <input
                type="password"
                formControlName="newPassword"
                class="fcdt-input-p2"
                minlength="8"
                maxlength="18"
                required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@+.*\-_/%#$,])[A-Za-z\d@+.*\-_/%#$,]{8,16}$"
                [matTooltip]="
                  validatorFields('newPassword')
                    ? 'La contraseña debe tener entre 8 y 18 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y al menos un caracter especial (@+.*-_/%#$,).'
                    : ''
                "
                [matTooltipClass]="'myTooltip'"
              />
            </div>
            <div class="text-placeholder">
              <span
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('newPassword')
                }"
                >Nueva contraseña</span
              >
            </div>
          </div>

          <div class="container-input-placeholder" style="margin-left: 5%">
            <div class="container-input">
              <input
                type="password"
                formControlName="repeatPassword"
                class="fcdt-input-p2"
                minlength="8"
                maxlength="18"
                required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@+.*\-_/%#$,])[A-Za-z\d@+.*\-_/%#$,]{8,16}$"
                [matTooltip]="
                  validatorFields('repeatPassword')
                    ? 'La contraseña debe tener entre 8 y 18 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y al menos un caracter especial (@+.*-_/%#$,).'
                    : ''
                "
                [matTooltipClass]="'myTooltip'"
              />
            </div>
            <div class="text-placeholder">
              <span
                [ngClass]="{
                  'fcdt-color-span-form-p2': validatorFields('repeatPassword')
                }"
                >Repetir contraseña</span
              >
            </div>
          </div>
        </div>
        <div class="container-buttons-change">
          <app-global-buttons
            [nameButton]="'Enviar'"
            (click)="enviar()"
            [width]="'20%'"
          >
          </app-global-buttons>
        </div>
      </form>
    </div>
  </div>
  <div class="container-message-password" *ngIf="message.length > 0">
    ¡Contraseña cambiada exitosamente!
  </div>
</div>
