<div class="container-principal">
  <div class="container">
    <h1 class="tittle">Fair Trade</h1>

    <div class="container-left">
      <form [formGroup]="form">
        <input
          type="text"
          formControlName="title"
          required
          minlength="20"
          maxlength="200"
          pattern="^(?!.*(\d)\1{5,})[a-zA-Z0-9áéíóúÁÉÍÓÚüÜ.ñÑ.,;:_-/\s]*$"
          [matTooltip]="
            validatorFields('title')
              ? 'Se puede usar número y letras, tildes, signos de puntuación básicos como la coma (,), el punto (.), el guion (-), el guion bajo (_), la barra (/), el punto y coma (;), el dos puntos (:), Con un mínimo de 20 y máximo de 200 caracteres'
              : ''
          "
          [matTooltipClass]="'myTooltip'"
        />
        <label>
          <span
            [ngClass]="{
              'fcdt-color-span-form-p2': validatorFields('title')
            }"
          >
            Titulo
          </span>
        </label>
        <textarea
          formControlName="description"
          placeholder="Descripción"
          required
          [ngClass]="{
            'container-border-red': validatorFields('description')
          }"
          minlength="20"
          maxlength="500"
          pattern="^(?!.*(\d)\1{5,})[a-zA-Z0-9áéíóúÁÉÍÓÚüÜ.ñÑ.,;:_-/\s]*$"
          [matTooltip]="
            validatorFields('description')
              ? 'Se puede usar número y letras, tildes,  signos de puntuación básicos como la coma (,), el punto (.), el guion (-), el guion bajo (_), la barra (/), el punto y coma (;), el dos puntos (:), con un mínimo de 20 y máximo de 500 caracteres'
              : ''
          "
          [matTooltipClass]="'myTooltip'"
        ></textarea>
      </form>
    </div>
    <div class="container-right">
      <div class="add-doc">
        <div class="icon-add-document-text" align="center">
          <div class="container-icon">
            <input
              type="file"
              accept="application/pdf"
              class="input-load-image"
              (change)="onChangeLoadDocument($event)"
            />
            <ion-icon name="add-circle-outline" class="ion-icon-green">
            </ion-icon>
          </div>
          <div>
            <strong style="text-align: center"
              >Adjuntar documentos del módulo</strong
            >
          </div>
        </div>

        <a
          *ngIf="dataModule?.module_resources && !document"
          href="{{ dataModule?.module_resources }}"
          target="_blank"
        >
          <img
            src="../../../../../../assets/icons/icon_pdf.webp"
            alt=""
            height="70%"
          />
        </a>

        <img
          *ngIf="!dataModule?.module_resources && document"
          src="../../../../../../assets/icons/icon_pdf.webp"
          alt=""
          height="70%"
        />

        <img
          *ngIf="dataModule?.module_resources && document"
          src="../../../../../../assets/icons/icon_pdf.webp"
          alt=""
          height="70%"
        />
      </div>
    </div>
  </div>

  <div class="container-buttons">
    <button class="fcdt-btn-white-p2" [routerLink]="['../../add-modules']">
      Atrás
    </button>
    <button class="fcdt-btn-p2" (click)="handleSubmit()">Siguiente</button>
  </div>
</div>
