<form [formGroup]="form1AEdit" (ngSubmit)="save()">
  <div class="container-herder-farmer-edit" *ngIf="dataUserRegister">
    <div class="container-image-portada-edit">
      <div class="container-image-portada-inter">
        <img
          *ngIf="!imagePortada"
          src="../../../../../../assets/farmer_portada.webp"
          alt="Portada"
          height="100%"
          width="100%"
          class="img-cover"
        />

        <img
          *ngIf="imagePortada"
          [src]="imagePortada"
          alt=""
          width="100%"
          height="100%"
          class="img-cover"
        />
      </div>
      <div class="container-icon-camera-portada-edit">
        <div class="container-icon-text-portada-edit">
          <div class="container-icon-portada-edit">
            <div class="container-inter-camera-text-edit-portada">
              <div class="container-icon-edit-photo-portada">
                <img
                  src="../../../../../../assets/icons/icon_camera_edit_portada.webp"
                  alt="Camera"
                  width="100%"
                />
              </div>
            </div>
            <div class="container-text-edit-portada-edit">
              Editar foto de portada
            </div>
          </div>
          <div class="container-input-load-photo-portada">
            <input
              type="file"
              accept="image/jpeg,image/png"
              class="input-load-portada"
              (change)="onChangeLoadPortada($event)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-profile-photo-edit">
      <div class="container-image-profile">
        <img
          *ngIf="image"
          [src]="image"
          alt="Foto de perfíl"
          class="img-profile"
        />
        <img
          *ngIf="!image && dataUserRegister.User.user_profile_photo"
          [src]="dataUserRegister.User.user_profile_photo"
          alt="Foto de perfíl"
          class="img-profile"
        />
        <img
          *ngIf="!image && !dataUserRegister.User.user_profile_photo"
          src="../../../../../../assets/icons/icon_user.webp"
          alt="Foto de perfíl"
          class="img-profile"
        />
        <div class="container-icon-camera-profile-edit">
          <div>
            <ion-icon name="camera-sharp" class="icon"></ion-icon>
            <input
              type="file"
              accept="image/jpeg,image/png"
              class="input-load-profile"
              (change)="onChangeLoadImage($event)"
            />
          </div>
        </div>
      </div>
      <div class="container-profile-name-edit">
        <div>{{ dataUserRegister!.User.user_username }}</div>
        <div style="color: #bebebe">
          {{ dataUserRegister.farm_name }}
        </div>
        <div class="container-text-profile-farmer" style="margin-top: 0.5vw">
          {{ dataUserRegister.User.user_phone }}
        </div>
        <div class="container-text-profile-farmer">
          {{ dataUserRegister.User.user_email }}
        </div>
      </div>
      <textarea
        class="container-text-message-edit"
        type="text"
        formControlName="descriptionText"
        placeholder="Escribe aqui tu texto (máximo 500 caracteres)"
        required
        rows="2"
        cols="50"
        minlength="20"
        maxlength="500"
        [matTooltip]="
          validatorFields('descriptionText')
            ? 'Completa este campo con mínimo 20 caracteres y máximo de 500'
            : ''
        "
        [matTooltipClass]="'myTooltip'"
        pattern="^(?!.*(\d)\1{5,})[a-zA-Z0-9áéíóúÁÉÍÓÚüÜ.ñÑ.,;:_-/\s]*$"
        [ngClass]="{
          'container-text-message-edit-error':
            validatorFields('descriptionText')
        }"
      >
      </textarea>
      <div class="container-icon-text-area">
        <img
          src="../../../../../../assets/icons/editar-icon.webp"
          alt="edit-icon"
          class="img-area-icon"
        />
      </div>
    </div>
  </div>

  <div class="container-body">
    <div class="container-details">
      <div class="container-text-details">Editar datos del perfil</div>
      <div class="container-rows-details">
        <div style="width: 50%">
          <div style="display: flex">
            <input
              type="text"
              formControlName="allName"
              class="fcdt-input-p2"
              minlength="6"
              maxlength="50"
              required
              placeholder="Ej: Pepe Gomez Muñoz"
              pattern="^[a-zA-ZáéíóúñÁÉÍÓÚ\s]{6,50}$"
              [matTooltip]="
                validatorFields('allName')
                  ? 'Usar únicamente letras con un mínimo 6 y máximo de 50 caracteres'
                  : ''
              "
              [matTooltipClass]="'myTooltip'"
            />
            <img
              src="../../../../../../assets/icons/editar-icon.webp"
              alt="edit-icon"
              style="margin-left: -10%; margin-bottom: 1%"
            />
          </div>
          <div class="container-sub-input">
            <span
              [ngClass]="{
                'fcdt-color-span-form-p2': validatorFields('allName')
              }"
            >
              Nombre completo</span
            >
          </div>
        </div>
        <div style="width: 50%; margin-left: 10%">
          <div style="display: flex">
            <input
              type="tel"
              formControlName="phone"
              class="fcdt-input-p2"
              minlength="8"
              maxlength="15"
              required
              pattern="[0-9]*"
              [matTooltip]="
                validatorFields('phone')
                  ? 'Usar únicamente números con una longitud mínima de 8 y máxima de 15 dígitos'
                  : ''
              "
              [matTooltipClass]="'myTooltip'"
              (keydown)="handleKeyDown($event)"
            />
            <img
              src="../../../../../../assets/icons/editar-icon.webp"
              alt="edit-icon"
              style="margin-left: -10%; margin-bottom: 1%"
            />
          </div>
          <div class="container-sub-input">
            <span
              [ngClass]="{
                'fcdt-color-span-form-p2': validatorFields('phone')
              }"
              >Teléfono</span
            >
          </div>
        </div>
      </div>

      <div class="container-rows-details">
        <div style="width: 50%; pointer-events: none; opacity: 0.6">
          <input
            class="input-text-details"
            formControlName="mail"
            maxlength="40"
            type="email"
            style="pointer-events: none"
          />
          <img
            src="../../../../../../assets/icons/editar-icon.webp"
            alt="edit-icon"
            style="margin-left: -10%; margin-top: -2%"
          />
          <div class="container-sub-input">Correo electrónico</div>
        </div>
        <div style="width: 50%; margin-left: 10%">
          <input
            type="text"
            formControlName="userName"
            class="fcdt-input-p2"
            minlength="6"
            maxlength="90"
            required
            pattern="^(?=.*[a-z])[A-Za-z0-9]{6,50}$"
            [matTooltip]="
              validatorFields('userName')
                ? 'El nombre de usuario no debe contener espacios, tildes ni símbolos especiales. Debe tener entre 6 y 50 caracteres alfanuméricos, incluyendo mayúsculas y minúsculas.'
                : ''
            "
            [matTooltipClass]="'myTooltip'"
          />
          <img
            src="../../../../../../assets/icons/editar-icon.webp"
            alt="edit-icon"
            style="margin-left: -10%; margin-top: -2%"
          />
          <div class="container-sub-input">
            <span
              [ngClass]="{
                'fcdt-color-span-form-p2': validatorFields('userName')
              }"
              >Nombre de usuario</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="container-buttons-edit" align="center">
      <button class="btn-edit">Cancelar</button>
      <button class="btn-edit" type="submit">Guardar</button>
    </div>
  </div>
</form>
