<div class="container-form2">
  <div class="container-text-historia">
    ¿Qué factores son los más importantes para ti al momento de elegir un
    proveedor de café/trillado?
  </div>

  <form [formGroup]="form3B">
    <div class="container-input-text">
      <textarea
        formControlName="histoyText"
        placeholder="Escribe aquí tu texto (máximo 500 caracteres)"
        required
        rows="2"
        cols="50"
        minlength="20"
        maxlength="500"
        [matTooltip]="
          validatorFields('histoyText')
            ? 'Completa este campo con mínimo 20 caracteres y máximo de 500'
            : ''
        "
        [matTooltipClass]="'myTooltip'"
        class="fcdt-text-area-p2"
        [ngClass]="{
          'fcdt-text-area-p2-error': validatorFields('histoyText')
        }"
      ></textarea>
    </div>

    <div class="container-ponters">
      <app-points-form3-business [position]="2"></app-points-form3-business>
    </div>

    <div class="container-buttons-form2" align="center">
      <button class="btn-form2" [routerLink]="'../1'">Atrás</button>
      <button class="btn-form2" (click)="next()">Siguiente</button>
    </div>
  </form>
</div>
