<div class="principal-home">
  <div class="container-navbar-responsive">
    <div class="container-logo-responsive">
      <img
        class="logo-responsive"
        src="../../../assets/logo_color.webp"
        alt="logo-responsive"
      />
    </div>
    <div class="container-btn-inicioSesion">
      <button class="bnt-login" (click)="login()">Iniciar sesión</button>
    </div>
  </div>
  <app-carrousel-home></app-carrousel-home>
  <app-trends-farmers [shadown]="true"></app-trends-farmers>
  <app-out-profiles></app-out-profiles>
  <app-videos-home></app-videos-home>
  <app-home-footer></app-home-footer>
</div>
