.container-loading {
  padding: 2%;
  font-size: 1.2vw;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  font-family: "Lato";
}

.container-image-cafe {
  width: 50%;
  height: 100%;
}

.image-cafe {
  width: 80%;
  height: 95%;
  margin-top: 2%;
  margin-left: -6vw;
  background-image: url("../../../../assets/coffee3.webp");
  background-size: cover;
  border-radius: 3vw;
}

.container-title-form-login-btns-register {
  overflow-y: auto;
  width: 50%;
  padding-inline: 5%;
  height: 95%;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-bottom: 3%;
}

.container-form-login-btns-register {
  height: 70%;
  padding-top: 3%;
  display: block;
  justify-content: center;
  align-items: center;
}

.text-login {
  font-style: normal;
  font-weight: 500;
  font-size: 2.7vw;
  margin-bottom: 15%;
}

.form-login {
  width: 70%;
  margin-top: -1rem;
}

.container-login-input {
  width: 85%;
  margin-top: 2.5vw;
}

.container-button-iniciar-sesion {
  margin-block: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

.button-iniciar-sesion {
  background: #00de97;
  border-radius: 6px;
  width: 40%;
  margin-top: 3%;
  border: none;
  height: 3vw;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  color: #2f0084;
}

.button-iniciar-sesion:active {
  background: rgba(0, 222, 151, 0.5);
}

.validate-password-recover {
  border-bottom: 1px solid red;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .container-image-cafe {
    display: none;
  }

  .container-title-form-login-btns-register {
    width: 70%;
  }

  .container-title {
    width: 80%;
  }

  .text-login {
    font-size: 5.5vw;
  }

  .form-login {
    margin-top: 10vw;
  }

  .container-button-iniciar-sesion {
    height: 7vw;
  }

  .button-iniciar-sesion {
    width: 90%;
    height: 6vw;
    font-size: 4vw;
  }

  .container-link-olvidaste-contrasena {
    display: none;
  }

  .separator-form {
    display: none;
  }
}
@media only screen and (max-width: 412px) and (orientation: portrait) {
  .container-title-form-login-btns-register {
    width: 90%;
  }

  .text-login {
    font-size: 6.5vw;
  }

  .form-login {
    margin-top: 15vw;
  }

  .container-button-iniciar-sesion {
    height: 10vw;
  }

  .button-iniciar-sesion {
    height: 9vw;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 396px) and (orientation: portrait) {
  .container-title-form-login-btns-register {
    width: 90%;
  }

  .text-login {
    font-size: 6.5vw;
  }

  .form-login {
    margin-top: 15vw;
  }

  .container-button-iniciar-sesion {
    height: 10vw;
  }

  .button-iniciar-sesion {
    height: 9vw;
    font-size: 5vw;
  }
}
