<div class="container-loading" *ngIf="verifiedToken !== 3">
  <div *ngIf="verifiedToken === 1">Cargando...</div>
  <div *ngIf="verifiedToken === 2">No autorizado</div>
</div>

<div class="container-principal" align="center" *ngIf="verifiedToken === 3">
  <app-floting-alert
    *ngIf="isErrorAlert"
    [message]="message"
  ></app-floting-alert>

  <div class="container-image-cafe">
    <div class="image-cafe"></div>
  </div>
  <div class="container-title-form-login-btns-register">
    <div class="container-title">
      <img
        src="../../../assets/logo_color.webp"
        height="60%"
        (click)="handleClickHome()"
        style="margin-left: -5%"
      />
    </div>
    <div class="container-form-login-btns-register">
      <div>
        <p class="text-login">Cambiar contraseña</p>
      </div>

      <div class="form-login">
        <!-- start form -->
        <form [formGroup]="formRecoverPassword" (ngSubmit)="handleSubmit()">
          <div class="container-login-input">
            <div
              class="fcdt-input-password"
              [ngClass]="{
                'validate-password-recover': validatorFields('newPassword')
              }"
            >
              <input
                [type]="
                  showPasswordValues.isShowNewPassword ? 'text' : 'password'
                "
                formControlName="newPassword"
                maxlength="40"
                required="true"
                class="fcdt-input-p2"
                placeholder="Nueva contraseña"
                matTooltipPosition="above"
                matTooltip="La contraseña debe tener entre 8 y 18 caracteres, debe contener minúscula(s), mayúscula(s), número(s) y un caracter especial como @#$%*."
                [matTooltipClass]="'myTooltip'"
                minlength="8"
                maxlength="18"
                autocomplete="off"
                style="border: none"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%*.])[A-Za-z\d@#$%*.]{8,30}$"
                [ngClass]="{
                  'fcdt-field-error-form-all-border-p2':
                    validatorFields('newPassword')
                }"
              />

              <ion-icon
                *ngIf="!showPasswordValues.isShowNewPassword"
                name="eye-outline"
                (click)="showPassword(1)"
              ></ion-icon>

              <ion-icon
                *ngIf="showPasswordValues.isShowNewPassword"
                name="eye-off-outline"
                (click)="showPassword(1)"
              ></ion-icon>
            </div>
          </div>

          <div class="container-login-input">
            <div
              class="fcdt-input-password"
              [ngClass]="{
                'validate-password-recover':
                  validatorFields('repeatNewPassword')
              }"
            >
              <input
                [type]="
                  showPasswordValues.isShowRepeatNewPassword
                    ? 'text'
                    : 'password'
                "
                formControlName="repeatNewPassword"
                maxlength="18"
                required
                class="fcdt-input-p2"
                placeholder="Repetir nueva contraseña"
                style="border: none"
                [ngClass]="{
                  'fcdt-field-error-form-all-border-p2':
                    validatorFields('repeatNewPassword')
                }"
              />

              <ion-icon
                *ngIf="!showPasswordValues.isShowRepeatNewPassword"
                name="eye-outline"
                (click)="showPassword(2)"
              ></ion-icon>

              <ion-icon
                *ngIf="showPasswordValues.isShowRepeatNewPassword"
                name="eye-off-outline"
                (click)="showPassword(2)"
              ></ion-icon>
            </div>
          </div>

          <div class="container-button-iniciar-sesion">
            <button type="submit" class="button-iniciar-sesion">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
