.container-principal-notification {
  height: 80%;
  width: 90%;
  margin-inline: 5%;
}

/* Title all courses */

.container-title-notification {
  display: flex;
  align-items: flex-start;
  color: #2f0084;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2vw;
}
